.main-div {
  --background: linear-gradient(#f8f8f8, #ccc);
}
.apple {
  width: 20%;
  margin: 0 auto 50px auto;
}
.help-text {
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: block;
}
.network {
  display: flex;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
  &.selected {
    background: #6add62;
    border-color: #6add62;
  }
}
.bold {
  font-weight: bold;
}
